## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a = 1
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [5]:
Mi_Nombre = 'Felipe Dedes'

5) Crear una variable que contenga un número complejo

In [6]:
complejo = 4 + 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
si = 'True'
Si = True
# no se trata de lo mismo. uno es un booleano y el otro es un string

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(si))
print(type(Si))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
x = 1 + 1.5

print(x)

2.5

11) Realizar una operación de suma de números complejos

In [12]:
complejo1 = 3 + 4j
complejo2 = 4 + 7j

print(complejo1 + complejo2)

(7+11j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
print(a + complejo)

(5+7j)

13) Realizar una operación de multiplicación

In [14]:
factor1 = 4
factor2 = 3
print(factor1 * factor2)

12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
dividendo = 27
divisor = 4

print(dividendo/divisor)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(dividendo//divisor)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print(dividendo%divisor)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
divisor = 4
cociente = dividendo//divisor
resto = dividendo%divisor


print(divisor * cociente + resto)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
var1 = 'Felipe '
var2 = 'Dedes'

print(var1 + var2)

Felipe Dedes

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
2 == '2'

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
a = float('3,8') #Da error porque el separador decimal no es el correcto, debe ser "."

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [31]:
c = 3
c-=1
print(c)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [33]:
1<<2    # 1(00001) << 2 = 4(00100)
        # la operación << trabaja en el valor binario del número desplazando el bit '1' hacia la izquierda tantas veces como lo dice la operación (en este caso 2)

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [42]:
print(2+'2')    # Los operadores son de diferente tipo. Si los 2 operadores fueran del mismo tipo 'int' el resultado sería 2.
                # Si los operadores fueran del tipo 'str' el resultado sería 22. Por lo que no siempre darían el mismo resultado

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [46]:
print('Si los operadores fueran enteros: ', int(2) + int('2'))
print('Si los operadores fueran strings: ', str(2) + str('2'))
print('2'*2)

Si los operadores fueran enteros:  4
Si los operadores fueran strings:  22
22